@font-face {
  font-family: "FantasqueSansMono";
  src: url(../fonts/FantasqueSansMono-Regular.woff) format("woff");
}
@font-face {
  font-family: "FantasqueSansMono";
  src: url(../fonts/FantasqueSansMono-Bold.woff) format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "FantasqueSansMono";
  src: url(../fonts/FantasqueSansMono-Italic.woff) format("woff");
  font-style: italic;
}
@font-face {
  font-family: "FantasqueSansMono";
  src: url(../fonts/FantasqueSansMono-BoldItalic.woff) format("woff");
  font-weight: bold;
  font-style: italic;
}
